.footer {
    background-color: #282c34;
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.footer__top {
    padding: 5px;
    border-bottom: 1px solid #4CACBC;
}

.footer__left p {
    /* font-size: 12px; */
    text-align: center;
}

.footer__left a {
    text-decoration: none;
    color: #fff;
}

.footer__left a:hover {
    color: #61dafb;
}

.footer__right {
    display: none;
}

.footer__right a {
    font-size: 8px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.footer__bottom {
    color: #61dafb;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom p {
    display: flex;
    align-items: center;
}

.footer__bottom a {
    text-decoration: none;
    color: #61dafb;
    padding: 0 2px;
}

.footer__bottom a:hover {
    color: #4CACBC;
}

.footer__bottom span {
    font-size: 20px;
    padding: 0 2px;
}


@media screen and (max-width: 400px) {
    .footer{
        font-size: 10px;
    }
}