.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.header__bottom {
    display: flex;
    height: 60px;
    width: 100%;
    padding: 5px 20px;
    background-color: #20232a;
    align-items: center;
    justify-content: space-between;
}

.header__top {
    font-size: 14px;
    background-color: hsl(222, 14%, 10%);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header__top a {
    color: #61dafb;
    text-decoration: none;
    cursor: pointer;
}

.header__top a:hover {
    color: #4CACBC;
}

.header__bottom {
    font-size: 14px;
}

.header__logo {
    color: #61dafb;
    font-weight: 700;
    /* display: none; */
    cursor: pointer;
}

.header__title {
    display: none;
}

.header__options {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.header__options li {
    padding-left: 10px;
}

.header__options a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header__options a:hover {
    color: #61dafb;
}

@media screen and (min-width: 350px) {
    .header__options {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 500px) {
.header__title {
    display: inline;
}
}

@media screen and (min-width: 800px) {
    .header__top {
        height: 50px;
        font-size: 18px;
        font-weight: 400;
    }
    
    .header__bottom {
        padding: 0 175px;
        font-size: 24px;
    }
    
    .header__options a {
        font-size: 18px;
        font-weight: 300;
    }

    .header__options li {
        padding-left: 20px;
    }
}