.home {
    background-color: #282c34;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home__title {
    color: #61dafb;
    font-size: 30px;
    z-index: 999;
}

.home__description {
    color: white;
    padding: 10px;
    z-index: 999;
}

.home__buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
    z-index: 999;
}

button{
    border: none;
    outline: none;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.home__button1 {
    text-decoration: none;
    color: #000;
    background-color: #61dafb;
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 600;
    margin-right: 15px;
}

.home__button1:hover {
    background-color: white;
}

.home__button2 {
    display: flex;
    background: none;
    color: #61dafb;
    font-size: 14px;
}

.home__button2:hover {
    color: white;
}


.icon {
    font-size: 700px;
    position: absolute;
    left: 53%;
    top: 50px;
    color: #32363e;
    display: none;
}

@media screen and (min-width: 800px) {
    .home {
        height: 400px;
    }
    
    .home__title {
        font-size: 65px;
    }

    .home__description {
        padding: 20px;
        font-size: 28px;
        font-weight: 300;
    }

    .home__button1 {
        padding: 17px 20px;
        font-size: 18px;
        font-weight: 400;
        margin-right: 20px;
    }
    
    .home__button2 {
        font-size: 18px;
        letter-spacing: 0.2em;
    }
}

@media screen and (min-width: 1500px) {
    .icon {
        display: block;
        z-index: 1;
    }
}