.skills {
    width: 100%;
    background-color: #282c34;
    padding: 120px 40px 90px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__title {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.skills__title:hover {
    color: #61dafb;
}

.skills__icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-around;
    align-items: center;
}

.skills__icon__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__icon {
    padding: 8px;
    height: 80px;
    object-fit: contain;
    transition: 0.3s;
}

.react__logo {
    margin-left:10px;
}

.skills__icon__title {
    visibility: hidden;
    padding-top: 10px;
    transition: 0.3s;
}

.skills__icon:hover + .skills__icon__title {
    visibility: visible;
    color: #fff;
}

.skills__icon:hover {
    padding: 0;
}

@media screen and (min-width: 400px) {
    .skills__icons {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 800px) {
    .skills {
        padding: 120px 175px;
    }

    .skills__icon {
        height: 100px;
    }
}