.App {
    display: flex;
    flex-direction: column;
    /* max-width: 1000px; */
    margin: auto;
    background-color: #F6FBF4;
}

.separate {
    margin: 0 10%;
    border-bottom: 1px solid lightgrey;
}

.sample{
    height: 500px;
    background-color: royalblue;
    z-index: 1;
}
